.vscode/settings.json
__pycache__/cfg.cpython-36.pyc
__pycache__/control.cpython-36.pyc
__pycache__/control.cpython-37.pyc
__pycache__/debug.cpython-36.pyc
message/__pycache__/__init__.cpython-36.pyc
message/__pycache__/serial_tool.cpython-36.pyc
module/__pycache__/__init__.cpython-36.pyc
module/__pycache__/data_display.cpython-36.pyc
module/__pycache__/module_base.cpython-36.pyc
module/__pycache__/waveform.cpython-36.pyc
ui/__pycache__/__init__.cpython-36.pyc
ui/__pycache__/global_ui.cpython-36.pyc
ui/__pycache__/main_window.cpython-36.pyc
cfg.ini
main.spec
__pycache__/cache.cpython-38.pyc
__pycache__/cfg.cpython-38.pyc
__pycache__/control.cpython-38.pyc
__pycache__/debug.cpython-38.pyc
cache/waveform.txt
message/__pycache__/__init__.cpython-38.pyc
message/__pycache__/message_base.cpython-38.pyc
message/__pycache__/serial_tool.cpython-38.pyc
message/__pycache__/tcp_client.cpython-38.pyc
message/__pycache__/tcp_server.cpython-38.pyc
module/__pycache__/__init__.cpython-38.pyc
module/__pycache__/data_display.cpython-38.pyc
module/__pycache__/module_base.cpython-38.pyc
module/__pycache__/waveform.cpython-38.pyc
ui/cfg.ini
ui/__pycache__/__init__.cpython-38.pyc
ui/__pycache__/global_ui.cpython-38.pyc
ui/__pycache__/main_window.cpython-38.pyc
